// ==== setup ====
@import "setup";


// component
@import "components/button";


// partial
@import "partials/header";
@import "partials/bootstrap";
@import "partials/corner";
@import "partials/generator";
@import "partials/gototop";
@import "partials/mobile";
// @import "partials/preview";
@import "partials/social-object";
@import "partials/rotate";
@import "partials/upload";
@import "partials/intro-section";
@import "partials/editor-section";
@import "partials/action-section";

// ==== inbox ====
.hide-phone {
  display: none;
  @include at-breakpoint($pad) {
    display: block;
  }
}

.hide-mobile {
  display: none;
  @include at-breakpoint($desktop) {
    display: block;
  }
}

br.word-break-on-phone {
  @include at-breakpoint($pad) {
    display: none;
  }
}

br.word-break-on-mobile {
  @include at-breakpoint(desktop) {
    display: none;
  }
}

.word-no-break {
  display: inline-block;
  @include nowrap;
}

// 緊急公告
.tip-block {
  background-color: #E7E879;
  color: black;
  padding: 12px 0;
  text-align: center;
}

.tip-block-title {
  @include adjust-font-size-to(15px);
  @include trailer(0);
}
