// ---- susy setting ----
// basic for susy
$total-columns  : 4;
$column-width   : 60px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 960px 12;

// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container setting ----

body {
  // background-color: #183840;
  background-color: #f7f7f7;
  // background-image: url('/images/img-big.png');
  // background-repeat: repeat-y;
  // background-position: top center;
  // @include background-size(cover);
  // background-attachment: fixed;
}

.container {
  padding: 0 $grid-padding;
  max-width: 1024px;
  margin: 0 auto;
  width: auto !important;

  @include at-breakpoint($pad) {
    padding: 0 48px;
  }
}
