// ---- susy setting ----
// basic for susy
$total-columns  : 4;
$column-width   : 60px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            : 640px 8;
$desktop        : 960px 12;

// page-container
$page-container: ".container";

// debug layout
// @import "layout-debug";

// ---- container setting ----

body {
  background-color: #183840;
}

.container {
  padding: 0 $grid-padding;
  max-width: 960px;
  margin: 0 auto;

  @include at-breakpoint($pad) {
    padding: 0 48px;
  }
}
