.action-section
  +box-sizing(border-box)
  position: relative
  padding: 48px 0px
  text-align: center
  min-height: 400px
  height: 90vh

  .container
    +pie-clearfix
    +box-sizing(border-box)
    position: absolute
    left: 0
    right: 0
    top: 40%
    +translateY(-50%)

  .tip
    +adjust-font-size-to(18px)

  .btn
    display: block
    max-width: 240px
    margin: 0 auto 12px
    padding: 9px 24px
    width: 100%

  .icon-facebook, .icon-download-icon
    font-size: 24px
    vertical-align: middle
    margin-right: 6px

  .copyright
    position: absolute
    width: 100%
    left: 0
    bottom: 0
    +trailer(1)
    +adjust-font-size-to(15px)

  +at-breakpoint($pad)
    padding: 144px 0
    height: 60vh

    .btn
      display: inline-block
      margin: 0 6px

    .copyright
      +trailer(2)
