.header {
  background-color: white;

  .logo {
    @include trailer(0);
    padding: 6px 12px;
    a {
      @include adjust-font-size-to(24px, 1);
      margin: 0 auto;
      display: block;
      @include replace-text-with-svg('logo-zh-mobile');
    }
  }

  @include at-breakpoint(480px) {
    .logo {
      a {
        @include replace-text-with-svg('logo-zh');
      }
    }

  }

}
