.intro-section

  +box-sizing(border-box)
  position: relative
  height: 90vh
  min-height: 440px
  background-image: url('/images/img-mobile.png')
  background-repeat: no-repeat
  background-position: right bottom

  .container
    +pie-clearfix
    +box-sizing(border-box)
    +padding-leader(2)
    +padding-trailer(2)
    position: absolute
    left: 0
    right: 0
    top: 50%
    +translateY(-50%)

  .title, .description
    max-width: 272px
    margin-left: auto
    margin-right: auto

  .title
    +adjust-font-size-to(24px, 1.25)

  .description
    +margin-trailer(0.5)
    +adjust-font-size-to(15px)

  .start
    display: block
    width: 160px
    margin: 36px auto 0

  +at-breakpoint($pad)
    height: 65vh
    min-height: 480px
    background-image: url('/images/img-top.png')
    background-position: 80% 30%
    +background-size(cover)

    .container
      +padding-leader(4)
      +padding-trailer(4)
      top: 47.5%

    .title, .description
      max-width: 400px
      margin-left: 0

    .title
      +adjust-font-size-to(28px, 1.25)
      text-align: left

    .start
      margin: 24px 0 0

  +at-breakpoint($desktop)
    min-height: 600px

    .title
      +adjust-font-size-to(36px, 1.5)
      // padding: 200px 0

