script src="//code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"
script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"
script src="/javascripts/vender/bootstrap/js/bootstrap.min.js" type="text/javascript"
script src="/javascripts/vender/jquery.ui.touch-punch.min.js" type="text/javascript"
script src="/javascripts/vender/jquery.ui.rotatable.min.js" type="text/javascript"
script src="/javascripts/vender/ie-alert/iealert.min.js" type="text/javascript"
/ script src="/javascripts/vender/konami.js" type="text/javascript"
script src="/javascripts/vender/smooth-scroll.js" type="text/javascript"
script src="/javascripts/util.js" type="text/javascript"
script src="/javascripts/all.js" type="text/javascript"
script src="/javascripts/fb.js" type="text/javascript"
